# Sparkxperiment
This notebook will be used for experiment purpose in order to work on my assignment

## Import Libs

In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [2]:
# Initate spark session
from pyspark.sql import SparkSession

# Spark session & context
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("sparkxperiment") \
    .getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/12/10 23:24:06 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
spark

## Load Data

In [4]:
# See current dir
!pwd

/home/jovyan/work

In [5]:
df_fhv_trip = (
    spark.read
    .format("parquet")
    .option("header", True)
    .load("/home/jovyan/work/data/fhv_tripdata_2022-02.parquet")
)

In [8]:
df_fhv_trip.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropOff_datetime|PUlocationID|DOlocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B00014|2022-02-01 00:15:00|2022-02-01 00:31:00|        null|        null|   null|                B00014|
|              B00021|2022-02-01 00:08:40|2022-02-01 00:42:54|        95.0|       173.0|   null|       B00021         |
|              B00021|2022-02-01 00:45:26|2022-02-01 01:04:37|       192.0|        70.0|   null|       B00021         |
|              B00021|2022-02-01 00:50:39|2022-02-01 01:29:06|       173.0|       147.0|   null|       B00021         |
|              B00021|2022-02-01 00:22:17|2022-02-01 00:27:29|       129.0|       129.0|   null|       B00021         |
|              B00021|2022-02-01 00:30:39|2022-02-01 00:46:34|        82.0|        56.0|   null|       B00021         |
|              B00021|2022-02-01 00:09:46|2022-02-01 00:19:43|       173.0|       173.0|   null|       B00021         |
|              B00021|2022-02-01 00:35:03|2022-02-01 00:43:38|       192.0|       192.0|   null|       B00021         |
|              B00037|2022-02-01 00:36:45|2022-02-01 00:45:14|        null|        72.0|   null|                B00037|
|              B00037|2022-02-01 00:55:02|2022-02-01 01:03:50|        null|        35.0|   null|                B00037|
|              B00037|2022-02-01 00:24:31|2022-02-01 00:27:15|        null|       188.0|   null|                B00037|
|              B00037|2022-02-01 00:54:22|2022-02-01 01:02:59|        null|        71.0|   null|                B00037|
|              B00111|2022-02-01 00:30:00|2022-02-01 00:59:00|        null|        null|   null|                B00789|
|              B00111|2022-02-01 00:36:00|2022-02-01 02:00:00|        null|        null|   null|                B00111|
|              B00112|2022-02-01 00:15:49|2022-02-01 00:18:21|        null|        14.0|   null|                B00112|
|              B00112|2022-02-01 00:58:16|2022-02-01 01:00:11|        null|        14.0|   null|                B00112|
|              B00149|2022-02-01 00:40:03|2022-02-01 00:56:37|        null|        61.0|   null|                B00149|
|              B00149|2022-02-01 00:54:38|2022-02-01 01:28:37|        null|        49.0|   null|                B00149|
|              B00225|2022-02-01 00:17:52|2022-02-01 00:44:11|        null|        60.0|   null|                B03404|
|              B00225|2022-02-01 00:06:51|2022-02-01 00:17:45|        null|        37.0|   null|                B03404|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [6]:
df_fhv_trip.createOrReplaceTempView('fhv_trip')

## 1. How many taxi trips were there on February 15?

### With Spark SQL

In [24]:
df_result1_sql = spark.sql(
"""
SELECT count(*)
FROM fhv_trip
WHERE pickup_datetime LIKE "%2022-02-15%"
""")

In [25]:
df_result1_sql.show()

+--------+
|count(1)|
+--------+
|   51310|
+--------+

### With Spark

In [26]:
df_result1_spark = (df_fhv_trip.select('dispatching_base_num') \
    .filter(df_fhv_trip.pickup_datetime.contains("2022-02-15")) \
    .count())

In [27]:
df_result1_spark

51310

## 2. Find the longest trip for each day ?

## 3. Find Top 5 Most frequent `dispatching_base_num` ?

### With Spark SQL

In [20]:
df_result3_sql = spark.sql(
"""
WITH five_most_freq AS(
SELECT dispatching_base_num, COUNT(dispatching_base_num) AS freq
FROM fhv_trip
GROUP BY dispatching_base_num
ORDER BY freq DESC
LIMIT 5
)

SELECT *
FROM five_most_freq
""")

In [21]:
df_result3_sql.show()

+--------------------+-----+
|dispatching_base_num| freq|
+--------------------+-----+
|              B03284|84472|
|              B00856|47567|
|              B02799|33214|
|              B03016|31220|
|              B01145|30468|
+--------------------+-----+

## 4. Find Top 5 Most common location pairs (PUlocationID and DOlocationID)?

In [ ]:
def crazy_stuff(pu_loc, do_loc):
    num = int(base_num[1:])
    if num % 7 == 0:
        return f's/{num:03x}'
    elif num % 3 == 0:
        return f'a/{num:03x}'
    else:
        return f'e/{num:03x}'